@charset "UTF-8";

:root {
  --cwidth: 54rem;
  --body-ff: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* common colour(s) */
  --comm-co: #666;
  --lite-bc: #f5f5f5;
  --lite-hr: #ccc;
}

body {
  font-family: var(--body-ff);
  line-height: 1.4; /* 1.4 */
}
main {
  max-width: var(--cwidth);
  padding: 1ch;
  margin: auto;
}
header {
  margin-bottom: 1.0rem;
}
header > a > img.logo {
  border-radius:0.5ch;
  margin:0.75ch 0 0 1.5ch;
  width:64px
}
h1, time {
  margin-top: 0;
  margin-bottom: 0;
}
time {
  color: var(--comm-co);
  font-style: italic;
}
table, video {
  width:100%;
  max-width: var(--cwidth);
}
small {color: var(--comm-co)}
caption {
  margin-bottom: 1ch
}
table {
  border-spacing:0;
  text-align:left;
  border-collapse:collapse;
  margin:2ch 0!important;
}
tr:nth-child(odd), tr:nth-child(even) {
  border-top: 1px solid var(--lite-bc);
  border-bottom: 1px solid var(--lite-bc);
}
th {
  font-weight: normal;
  font-style: italic;
}
th, td {
  text-align:left;
  vertical-align:top;
  padding:9px
}
dl {
  display: block;
}
dd {
  margin-left: 2ch;
  margin-bottom: 1.5ch;
}
dl:last-child {
  margin-bottom: 0.5ch;
}
figure, dt, dd, code > p {
-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}
figure {
  min-width: 100%;
  max-width: var(--cwidth);
  margin-left:0;
}
figure > img, p > img {
  width: 100%;
  min-width: 100%;
  max-width: var(--cwidth);
  margin:0;
  border-radius:2px;
}
figure img+img, 
figure video+video,
figure img+video, 
figure video+img {
  margin-top:0;
}
figcaption {
  color:var(--comm-co); 
  font-size: 85%; 
  font-style: italic;
  max-width: 100%;
  margin: 0.5ch 1ch; 
}
pre {
  /* white-space: pre-wrap; */
  overflow: auto;
  background-color: var(--lite-bc);
  padding: 2ch 2.5ch;
  border-radius: 0.5ch;
}
code {
  font-size: 93%;
}
hr {
  margin-top: 2ch;
}
.footnote hr {
  margin:1.5rem auto 0.75rem 0;
  width:36%;
  border-color: var(--lite-hr);
  border-style:solid;
  border-width:1px 0 0
}
.footnote hr:after {
  content: none!important
}
.footnote li {
  font-size: 87%
}
a {
  color: blue;
  text-decoration: none;
  outline: 0;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: purple;
}
p, dd, figcaption {
/*
  text-align: justify;
  text-align-last: left; 
*/
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;   
  -webkit-hyphenate-limit-zone: 8%;
  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;  
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;
  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;   
  -ms-hyphenate-limit-zone: 8%;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;   
  hyphenate-limit-zone: 8%;
}
footer {
  display: flex;
  justify-content: space-between;
}
footer {
  margin: 0 auto 2.5ch auto; 
  color: var(--comm-co);
}
sup, sub {
  font-size:80%;
  line-height: 1.0;
}
sup {
  vertical-align: super;
}
sub {
  vertical-align: sub;
}
hr {
  border: none;
  text-align: center
}
hr:after {
  content: "* * *";
  position: relative;
}
/* Code highlight (Light) */

/* a11y-light theme */
/* Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css */
/* @author: ericwbailey */

/* Comment */
.hljs-comment,
.hljs-quote {
  color: #6495ED;
  font-style: italic;
}

/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #d91e18;
}

/* Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #aa5d00;
}

/* Yellow */
.hljs-attribute {
  color: #aa5d00;
}

/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #008000;
}

/* Blue */
.hljs-title,
.hljs-section {
  color: #007faa;
}

/* Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #7928a1;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: var(--lite-bc);
  color: #545454;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

@media screen and (-ms-high-contrast: active) {
  .hljs-addition,
  .hljs-attribute,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-bullet,
  .hljs-comment,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-string,
  .hljs-symbol,
  .hljs-type,
  .hljs-quote {
        color: highlight;
    }

    .hljs-keyword,
    .hljs-selector-tag {
        font-weight: bold;
    }
}

code {
  padding: 0.35ch 0.5ch;
  background-color: var(--lite-bc);
  border-radius: 0.35ch;
}
blockquote {
  margin-left: 2ch;
  margin-right: 2ch;
}
blockquote p, blockquote li {
  font-style: italic;
}
article:nth-child(odd) {
  margin:5ch 0!important
}
h2 {
  font-size: 105%;
}
kbd {
  font-size: 81%;
  color:#444d56;
  border:1px solid #d1d5da;
  border-radius:3px; 
  display:inline-block;
  padding:6px;
  line-height: 1;
  box-shadow:inset 0 -2px 0 #d1d5da;
  vertical-align: text-top;
}
@media only screen and handheld {
  body {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 54rem) and (min-width: 26rem) {
  body {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 54rem) {
  body {
    font-size: 1.5rem;
  }
  .two {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
/*    
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;  
   -moz-column-fill:auto;
        column-fill:auto;
*/
  }
  dd {
    break-before: avoid;
  }
  dt {
    break-after: avoid;
  }
}
/*
aside > p > img {
  min-width: 100%;
  max-width: 100%;
  margin-left:-2ch; 
}
aside {font-size: 87%}
aside p + p { text-indent:2ch; margin-top:-1.3ch }
aside blockquote > p {margin-top: 0}
aside p {margin-top: 0}
*/
/* Indented para */
.w p + p, .w blockquote p + p { text-indent:2ch; margin-top:-1.3ch }
.w blockquote > p {margin-top: 0}
.w p {margin-top: 0.5ch}

@media (prefers-color-scheme: dark) {
  body, header, article, aside, footer {
    background-color: #333;
  }
  h1, h2, p, li, dl, code, time {
    color: #bbb;
    background-color: transparent
  }
  small, table, figcaption, hr, img.screen, img.fig, kbd {
    filter: invert(0.8)
  }
  pre {
    filter: invert(0.9)
  }
  mark {
    color: #FFD700;
  }
  code, mark {
    background-color: #222
  }
  a {
    color: #00BFFF
  }
  a:visited {
    color: #FF85FF;
  }
}
@media print {
  @page {
    size: auto;
    margin-top: 25mm;
    margin-bottom:25mm;
  }
  body {
    width: 85%;
    margin: 0 auto;
  }
  time:before {
    display: block;
    float: right;
    /* text-align: right; */
    content: "Terms of use: ckunte.net/about";
    font-style: italic;
    font-size: 75%;
    }
  /*header,*/ footer {
    display: none;
  }
  main:after {
    border-top: 2px solid #000;
    padding-top: 1ch;
    display: block;
    text-align: left;
    content: "Chetan Kunte is a technical authority on fixed and floating offshore structures at RDS.";
    font-style: italic;
    font-size: 75%;
    }
}